safetensors/target
safetensors/**/Cargo.lock
bindings/python/Cargo.lock
bindings/c/Cargo.lock
bindings/c/target
bindings/c/build/
bindings/c/include/
*.bin
*.h5
*.msgpack
*.pt
*.pdparams
*.safetensors
*.npz

# CMake related
cmake-*
