[package]
name = "safetensors-python"
version = "0.5.3-dev.0"
edition = "2021"
rust-version = "1.74"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "safetensors_rust"
crate-type = ["cdylib"]

[features]
default = ["py311"]
py311 = ["pyo3/abi3-py311"]
py38 = ["pyo3/abi3-py38"]

[dependencies]
pyo3 = { version = "0.24", features = ["abi3"] }
memmap2 = "0.9"
serde_json = "1.0"

[dependencies.safetensors]
path = "../../safetensors"
