[package]
name = "safetensors-python"
version = "0.2.1"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "safetensors_rust"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.17.1", features = ["extension-module"] }
memmap = "0.7"
serde_json = "1.0"
cuda-sys = { git="https://github.com/Narsil/cuda-sys" }

[dependencies.safetensors]
version = "*"
path = "../../safetensors"
