[package]
name = "safetensors-python"
version = "0.2.6"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "safetensors_rust"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.17.2", features = ["extension-module"] }
memmap2 = "0.5"
serde_json = "1.0"
libloading = "0.7"

[dependencies.safetensors]
version = "*"
path = "../../safetensors"
