[package]
name = "safetensors-python"
version = "0.5.2"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "safetensors_rust"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.23", features = ["abi3", "abi3-py38"] }
memmap2 = "0.9"
serde_json = "1.0"

[dependencies.safetensors]
path = "../../safetensors"
