[package]
name = "safetensors-python"
version = "0.4.4-dev.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "safetensors_rust"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.22", features = ["gil-refs"] }
memmap2 = "0.9"
serde_json = "1.0"

[dependencies.safetensors]
version = "0.4.4-dev.0"
path = "../../safetensors"
