[package]
name = "safetensors-python"
version = "0.7.0-dev.0"
edition = "2021"
rust-version = "1.74"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "safetensors_rust"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.25", features = ["abi3", "abi3-py38"] }
memmap2 = "0.9"
serde_json = "1.0"

[dependencies.safetensors]
path = "../../safetensors"

[target.'cfg(any(target_os = "linux", target_os = "android"))'.dependencies]
cudarc = { version = "0.12", features = ["driver"] }
libc = "0.2"
