name: Code coverage
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./safetensors

    steps:
      - uses: actions/checkout@v1

      - name: Install Rust Stable
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: llvm-tools-preview
          override: true

      - uses: Swatinem/rust-cache@v2

      - name: Install cargo-llvm-cov for Ubuntu
        run: cargo install cargo-llvm-cov

      - name: Coverage report
        run: cargo llvm-cov --release --lcov --output-path lcov.info

      - name: Upload to codecov.io
        if: matrix.os == 'ubuntu-latest'
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
          working-directory: ./safetensors
          fail_ci_if_error: true
