name: Simple benchmarks
on:
  push:
    branches:
      - main
  pull_request:


permissions:
  # deployments permission to deploy GitHub pages website
  deployments: write
  # contents permission to update benchmark contents in gh-pages branch
  contents: write

jobs:
  benchmark:
    name: Performance regression check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
          architecture: "x64"

      - name: Install
        working-directory: ./bindings/python
        run: |
          pip install -U pip uv
          uv sync --extra dev

      - name: Run tests
        working-directory: ./bindings/python
        run: |
          cargo test
          uv run pytest --benchmark-json output.json benches/
      # Download previous benchmark result from cache (if exists)
      - name: Download previous benchmark data
        uses: actions/cache@v5
        with:
          path: ./cache
          key: ${{ runner.os }}-benchmark
      # Run `github-action-benchmark` action
      - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@v1
        with:
          # What benchmark tool the output.txt came from
          tool: 'pytest'
          # Where the output from the benchmark tool is stored
          output-file-path: ./bindings/python/output.json
          github-token: ${{ secrets.GITHUB_TOKEN }}
          # Push and deploy GitHub pages branch automatically
          auto-push: true
          comment-on-alert: true
          # Mention @rhysd in the commit comment
          alert-comment-cc-users: '@Narsil'
