name: Python

on:
  pull_request:

jobs:
  build_and_test:
    name: Check everything builds & tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        # Lowest and highest, no version specified so that 
        # new releases get automatically tested against
        torch_version: [torch==1.10, torch]
    defaults:
      run:
        working-directory: ./bindings/python
    steps:
      - name: Checkout repository
        uses: actions/checkout@v1
        

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy

      - uses: Swatinem/rust-cache@v2

      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
          architecture: "x64"

      - name: Lint with RustFmt
        run: cargo fmt -- --check

      - name: Lint with Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings

      - name: Run Audit
        run: cargo audit -D warnings

      - name: Install
        run: |
          pip install -U pip
          pip install .[numpy,tensorflow,paddlepaddle]
          pip install ${{ matrix.torch_version }}

      - name: Install (jax, flax)
        if: matrix.os != 'windows-latest'
        run: |
          pip install .[jax]
        shell: bash

      - name: Check style
        run: |
          pip install .[quality]
          black --check --line-length 119 --target-version py35 py_src/safetensors tests

      - name: Run tests
        run: |
          cargo test
          pip install .[testing]
          pytest -sv tests/
