name: Rust

on:
  pull_request:
  worflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        toolchain: [stable]
        include:
          - os: ubuntu-latest
            toolchain: "1.74"
    defaults:
      run:
        working-directory: ./safetensors

    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy, llvm-tools-preview

      - uses: Swatinem/rust-cache@v2

      - name: Install cargo-audit
        run: cargo install cargo-audit

      - name: Install cargo-llvm-cov for Ubuntu
        if: matrix.os == 'ubuntu-latest'
        run: cargo install cargo-llvm-cov

      - name: Build
        run: cargo build --all-targets --verbose

      - name: Lint with Clippy
        run: cargo clippy --all-targets -- -D warnings

      - name: Run Tests
        run: cargo test --verbose

      - name: Run No-STD Tests
        run: cargo test --no-default-features --features alloc --verbose

      - name: Run Audit
        # RUSTSEC-2021-0145 is criterion so only within benchmarks
        run: cargo audit -D warnings --ignore RUSTSEC-2021-0145

      - name: Coverage report
        if: matrix.os == 'ubuntu-latest'
        run: cargo llvm-cov --release --lcov --output-path lcov.info

        # - name: Upload to codecov.io
        #   if: matrix.os == 'ubuntu-latest'
        #   uses: codecov/codecov-action@v3
        #   with:
        #     token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
        #     working-directory: ./safetensors
        #     fail_ci_if_error: true
